<section id="first">
    <div class="container">
        <div class="row">
            <div class="col-xl-3">

                <!-- Card Regular -->
                <div class="card card-cascade">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <div class="conatiner">
                            <img class="card-img-top image" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                            <div class="middle">
                                <div class="text"><strong>Billy Coleman</strong></div>
                            </div>
                        </div>
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body">
                        <div>
                            I'm the Front-End Developer for <a class="highlight" href="http://www.eyecuelab.com" target="_blank">EyeCue Lab</a> in Portland, OR. I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences.

                        </div>
                        <ul class="image-list text-muted">
                            <li><i class="fas fa-check check-icon"></i>&nbsp;&nbsp;&nbsp;HTML</li>
                            <li><i class="fas fa-check check-icon"></i>&nbsp;&nbsp;&nbsp;CSS</li>
                            <li><i class="fas fa-check check-icon"></i>&nbsp;&nbsp;&nbsp;React</li>
                            <li><i class="fas fa-check check-icon"></i>&nbsp;&nbsp;&nbsp;Angular</li>
                            <li><i class="fas fa-check check-icon"></i>&nbsp;&nbsp;&nbsp;Node.js</li>
                        </ul>
                        <a href="http://findmatthew.com/" class="card-link text-warning semi-bold">Learn More →</a>
                    </div>

                </div>
                <!-- Card Regular -->
            </div>
            <div class="col-xl-3">
                <div class="spin text-center">
                    <div class="lds-spinner">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                    <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
          </label>
                </div>
                <img class="star1" src="assets/images/f.png" width="20%" alt="">
            </div>

            <div class="col-xl-3">
                <div class="star text-center">
                    <a href="http://www.animatedimages.org/cat-stars-280.htm"><img src="http://www.animatedimages.org/data/media/280/animated-star-image-0046.gif" border="0" alt="animated-star-image-0046" /></a>
                </div>
            </div>
        </div>
    </div>
</section>